[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.5"
djangorestframework = "==3.9.0"
django-rest-swagger = "==2.2.0"
"urllib3" = "==1.23"
"flake8" = "==3.6.0"
django-heroku = "*"
gunicorn = "*"
pygments = "*"
markdown = "*"
django-pygments = "*"
django-storages = "*"
boto3 = "*"
eth-hash = {extras = ["pycryptodome"],version = "*"}

[dev-packages]

[requires]
python_version = "3.6.7"
